1 VERSIONINFO
FILEVERSION     2,1,0,0
PRODUCTVERSION  2,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "The Abxhttpd Group."
      VALUE "FileDescription", "Abxhttpd Dynamic Library"
      VALUE "InternalName", "Abxhttpd"
      VALUE "LegalCopyright", "Copyright (C) 2022 The Abxhttpd Group."
      VALUE "OriginalFilename", "xhttpd.dll"
      VALUE "ProductName", "Abxhttpd"
      VALUE "ProductVersion", "2.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

IDI_ICON1 ICON "abxhttpd_icon.ico"